nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    color:white;
    margin-left: 15px;
    color: deepskyblue;
}
nav a {
    text-decoration: none;
}
.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.aside-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px;
}