.tqsite {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
}
.tqsite-top {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;  
    background-color: var(--jwtb-colors-blackAlpha-900);
}
.tqsite-mid {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap; 
    min-height: 700px;
    background-color: var(--jwtb-colors-gray-900);
}
.tqsite-bot {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;  
    align-content: end;
    background-color: var(--jwtb-colors-blackAlpha-900);
}